[tool.poetry]
name = "smbclientng"
version = "2.1.3"
description = "smbclient-ng, a fast and user friendly way to interact with SMB shares."
authors = ["p0dalirius"]

[tool.poetry.dependencies]
python = "^3.7"
impacket = "^0.10.0"
rich = "^13.0.0"
charset-normalizer = "^3.3.2"
pefile = "2023.2.7"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
smbclientng="smbclientng.__main__:main"
smbng="smbclientng.__main__:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
