[tool.poetry]
name = "smbclientng"
version = "1.1"
description = "smbclient-ng, a fast and user friendly way to interact with SMB shares."
authors = ["p0dalirius"]

[tool.poetry.dependencies]
python = "^3.7"
impacket = "^0.10.0"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
smbclientng="smbclientng.__main__:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"